ClientWeb/Connected Services/UserService/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MySchool.com/User" elementFormDefault="qualified" targetNamespace="http://MySchool.com/User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/UserService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SchoolService" />
  <xs:element name="UserInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SchoolService" minOccurs="0" name="Type" type="q1:UserType" />
        <xs:element minOccurs="0" name="Sub" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Std" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>